
  <ion-header class="ion-no-border">
    <ion-toolbar class="header-toolbar">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-center">+SABORES PRA VOCÊ!</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">

  <ion-list lines="full">
    <!--<ion-item (click)=categoriesView(categories.id) detail *ngFor="let categories of categoriesData">-->
    <ion-item (click)=allCategoriesView(categories.id) detail *ngFor="let categories of allCategoriesData">
      <ion-thumbnail slot="start">
       <img src="{{categories.acf.iconcategoria.url}}">
      </ion-thumbnail>
      <ion-label>{{categories.name}}</ion-label>
    </ion-item>
    </ion-list>
    </ion-content>

  <!-- Footer without a border -->
  <ion-footer class="ion-no-border rodape ion-text-center">
    <ion-toolbar class=" rodape-toolbar ion-padding-bottom">
      <p class="title-dashboard-footer">SEGUE A GENTE PARÇA!!</p>
         <div class="container ion-text-center">
          <ion-icon name="logo-facebook" class="icones-sociais"></ion-icon>
          <ion-icon name="logo-instagram" class="icones-sociais"></ion-icon>
          <ion-icon name="logo-youtube" class="icones-sociais"></ion-icon>
        </div>
    </ion-toolbar>
  </ion-footer>
   