
  <ion-header class="ion-no-border">
    <ion-toolbar class="header-toolbar">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-center">ÚLTIMAS NOTÍCIAS</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
<!--
    <ion-text>
      <h1 class="title-dashboard-page ion-text-center ion-padding">LANÇAMENTOS, NOTÍCIAS, EVENTOS, DICAS...  </h1>
      </ion-text>
      -->

  <ion-list lines="full">
    <ion-item (click)=postView(posts.id) detail *ngFor="let posts of postData">
      <ion-thumbnail slot="start">
        <img src="{{posts.better_featured_image.source_url}}" />
      </ion-thumbnail>
      <ion-label>{{posts.title.rendered}}</ion-label>
    </ion-item>
    </ion-list>
    </ion-content>

<!-- Footer without a border -->
<ion-footer class="ion-no-border ion-text-center">
  <ion-toolbar>
    <div class="segue-a-gente"><span class="ion-text-center">SEGUE A GENTE!</span></div>
        <ion-icon name="logo-facebook" class="icones-sociais"></ion-icon>
        <ion-icon name="logo-instagram" class="icones-sociais"></ion-icon>
        <ion-icon name="logo-youtube" class="icones-sociais"></ion-icon>
  </ion-toolbar>
</ion-footer>
 
   