<ion-header class="ion-no-border">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">SINGLE POST</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card *ngIf="postView" class="ion-text-center">
    <img src="{{postView.better_featured_image.source_url}}">
<p>{{postView.title.rendered}}</p>
<span>{{postView.date}}</span>
<ion-card-content [innerHTML]="postView.content.rendered" ></ion-card-content>
  </ion-card>

</ion-content>
  
  <!-- Footer without a border -->
  <ion-footer class="ion-no-border rodape ion-text-center">
    <ion-toolbar class=" rodape-toolbar ion-padding-bottom">
      <p class="title-dashboard-footer">SEGUE A GENTE PARÇA!!</p>
         <div class="container ion-text-center">
          <ion-icon name="logo-facebook" class="icones-sociais"></ion-icon>
          <ion-icon name="logo-instagram" class="icones-sociais"></ion-icon>
          <ion-icon name="logo-youtube" class="icones-sociais"></ion-icon>
        </div>
    </ion-toolbar>
  </ion-footer>