ion-header {

  ion-toolbar {
    --background: #550583;
    }

    ion-title {
      font-size: 2rem;
      color: #fff;
      font-family: 'Cartoonish';
    }
}

ion-content {
  --background: #fff url('../../assets/images/fundos/fundo-pages-app-zomo.jpg') !important;
  font-family: 'BebasNeueBold';

 ion-card {
   background-color: #ff224a;
   color: #fff;
   font-size: 2rem;
   font-family: 'BebasNeueBold';
   border-radius: 7%;

   h1 {
     padding-bottom: 5px;
   }
   
   ion-card-content {
    background-color: #fff;
    color: #000;
  }
}
}


ion-footer {
  
    ion-icon {
      font-size: 2rem;
      color: #ff224a;
      padding: 0 0.5rem 0.6rem;
    }
  }

