ion-header {

  ion-toolbar {
    //--background: #fff url('../../assets/images/fundos/fundo-azul-texturas.jpg') !important;
      --background: #001a5f;
      color:#ff224a ;
      font-size: 1.3rem;
      font-family: 'BebasNeueBold';
    }
}

ion-content {
  --background: #fff url('../../assets/images/fundos/fundo-pages-app-zomo.jpg') !important;
  font-family: 'BebasNeueBold';

ion-footer {

  ion-toolbar {
    //--background: #ffffff url('../../assets/images/fundos/fundo-azul-texturas.jpg') !important;
    --background: #001a5f !important;
    color: #ff224a;
    font-size: 1rem;
    font-family: 'BebasNeueBold';

    .container {
      font-size: 2rem;
      color: #ff224a;  
      .icones-sociais {
        padding: 0 10px;
      }
    }
  }
}
}