<ion-header class="ion-no-border">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button>Voltar</ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">ESSÊNCIA ZOMO</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <ion-card *ngIf="essencesView" class="ion-text-center">
    <img class="versoes" src="{{essencesView.better_featured_image.source_url}}">
<h1>{{essencesView.title.rendered}}</h1>
<ion-card-content [innerHTML]="essencesView.content.rendered" ></ion-card-content>
  </ion-card>
</ion-content>
  
<!-- Footer without a border -->
<ion-footer class="ion-no-border ion-text-center">
  <ion-toolbar>
    <div class="segue-a-gente"><span class="ion-text-center">SEGUE A GENTE!</span></div>
        <ion-icon name="logo-facebook" class="icones-sociais"></ion-icon>
        <ion-icon name="logo-instagram" class="icones-sociais"></ion-icon>
        <ion-icon name="logo-youtube" class="icones-sociais"></ion-icon>
  </ion-toolbar>
</ion-footer>