ion-header {

  ion-toolbar {
    --background: #fff url('../../assets/images/fundos/fundo-azul-texturas.jpg') !important;
    background-size: contain;
     // --background: #206eff;
    }

    ion-title {
      font-size: 2rem;
      color: #fff;
      font-family: 'BebasNeueBold';
    }
}

ion-content { 
  --background: #fff url('../../assets/images/fundos/fundo-pages-app-zomo.jpg') !important;
    font-family: 'BebasNeueBold';
    
    ion-list {
      background: transparent !important;
      
      ion-item {
        --background: transparent !important;
        color: #fff;

        ion-label {
          font-family: 'BebasNeueBold';
          font-size: 1.8rem;
          color: #206eff;
        }
        
        &:first-of-type {
          border-top: 0.55px solid rgba(0, 0, 0, 0.185);
        }
      }
     }

    .title-dashboard-page {
      font-size: 2rem;
      color: #206eff; 
  }
    .title-icons-dash {
      font-size: 2rem;
      font-family: 'BebasNeueBold';
      color: #fff; 
  }
}
 
ion-footer {
  span {
    color: #206eff;
    font-size: 2rem;
    font-family: 'BebasNeueBold';
  }
  ion-toolbar {
    --background: #fff url('../../assets/images/fundos/fundo-azul-texturas.jpg') !important;

    ion-icon {
      font-size: 3rem;
      padding: 0.5rem 0.5rem ;
      color: #fff;
    }
  }
}