ion-header {

  ion-toolbar {
    //--background: #fff url('../../assets/images/fundos/fundo-azul-texturas.jpg') !important;
    --background: #550583;
    }

    ion-title {
      font-size: 2rem;
      color: #fff;
      font-family: 'Cartoonish';
    }
}

ion-content { 
  //--background: #fff url('../../assets/images/fundos/fundo-pages-app-zomo.jpg') !important;
    font-family: 'BebasNeueBold';
    --background: #dddddd;
    
    ion-list {
      background: transparent !important;
      margin-top: 2rem;
      
      ion-item {
        --background: transparent !important;
        color: #fff;

        ion-label {
          font-family: 'BebasNeueBold';
          font-size: 2rem;
          color: #206eff;
        }
        
        &:first-of-type {
          border-top: 0.55px solid rgba(0, 0, 0, 0.185);
        }
      }
     }

    .title-icons-dash {
      font-size: 2rem;
      font-family: 'BebasNeueBold';
      color: #fff; 
  }
}
 
ion-footer {

  ion-toolbar {
    //--background: #fff url('../../assets/images/fundos/fundo-azul-texturas.jpg') !important;
    --background: #550583;

    & div{
        color: #ff224a;
        font-size: 2rem;
        font-family: 'Cartoonish';
        margin: 1rem auto;
    }

    ion-icon {
      font-size: 3rem;
      color: #fff;
      padding: 0 0.5rem 0.5rem;
    }
  }
}