
  <ion-header class="ion-no-border">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">DASHBOARD</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-text>
<h1 class="title-dashboard-page ion-text-center ion-padding">DA UM OLHADA NO APP DA ZOMO, TA MUITO DA HORA!</h1>
</ion-text>

  <!-- List of Text Items -->
<ion-list lines="full">
  <ion-item detail routerLink="../essencia" routerDirection="forward">
    <ion-avatar slot="start">
      <img src="../../assets/icon/icon-essencia.png" />
    </ion-avatar>
    <ion-label>Essências</ion-label>
  </ion-item>

  <ion-item detail>
    <ion-avatar slot="start">
      <img src="../../assets/icon/icon-mix.png" />
    </ion-avatar>
    <ion-label>Mix Collection!</ion-label>
  </ion-item>
 
  <!--<ion-item detail  routerLink="../noticias" routerDirection="forward">-->
  <ion-item detail  routerLink="../noticias" routerDirection="forward">
    <ion-avatar slot="start">
      <img src="../../assets/icon/icon-noticias.png" />
    </ion-avatar>
    <ion-label>Notícias</ion-label>
  </ion-item>

  <ion-item detail>
    <ion-avatar slot="start">
      <img src="../../assets/icon/icon-encontre.png" />
    </ion-avatar>
    <ion-label>Encontre Zomo</ion-label>
  </ion-item>

  <ion-item detail>
    <ion-avatar slot="start">
      <img src="../../assets/icon/icon-eventos.png" />
    </ion-avatar>
    <ion-label>Eventos</ion-label>
  </ion-item> 
</ion-list>
</ion-content>
 


<!-- Footer without a border -->
<ion-footer class="ion-no-border rodape ion-text-center">
  <ion-toolbar class=" rodape-toolbar ion-padding-bottom">
    <p class="title-dashboard-footer">SEGUE A GENTE PARÇA!!</p>
       <div class="container ion-text-center">
        <ion-icon name="logo-facebook" class="icones-sociais"></ion-icon>
        <ion-icon name="logo-instagram" class="icones-sociais"></ion-icon>
        <ion-icon name="logo-youtube" class="icones-sociais"></ion-icon>
      </div>
  </ion-toolbar>
</ion-footer>
 