ion-header {

  ion-toolbar {
    --background: #fff url('../../assets/images/fundos/fundo-escuro.jpg') !important;
      // --background: #4854e0;
      color:#e90088 ;
      font-size: 1.5rem;
      font-family: 'Cartoonish';
    }
}

ion-content { 
  --background: #fff url('../../assets/images/fundos/fundo-pages-app.jpg') !important;
    font-family: 'Cartoonish';
    
    ion-list {
      background: transparent !important;
      
      ion-item {
        --background: transparent !important;
        color: #fff;

        ion-label {
          font-family: 'BebasNeueBold';
          font-size: 1.2rem;
          color: #ff224a;
        }
        
        &:first-of-type {
          border-top: 0.55px solid rgba(0, 0, 0, 0.185);
        }
      }
     }

    .title-dashboard-page {
      font-size: 1.5rem;
      color: #e90088; 
  }
    .title-icons-dash {
      font-size: 1.2rem;
      font-family: 'BebasNeueBold';
      color: #fff; 
  }
}
 
ion-footer {

  ion-toolbar {
    --background: #fff url('../../assets/images/fundos/fundo-escuro.jpg') !important;
    // --background: #4854e0 !important;
    color: #fff;
    font-size: 1.3rem;
    font-family: 'BebasNeueBold';

    .container {
      font-size: 2.5rem;
      color: #e90088;  
      .icones-sociais {
        padding: 0 10px;
      }
    }
  }
}
  